[Unit]
Description=D-Bus User Message Bus Metrics Socket

[Socket]
ListenStream=%t/bus_metrics
Service=dbus.service

[Install]
Alias=dbus-metrics.socket
