[submodule "subprojects/c-rbtree"]
	path = subprojects/c-rbtree
	url = https://github.com/c-util/c-rbtree.git
[submodule "subprojects/c-list"]
	path = subprojects/c-list
	url = https://github.com/c-util/c-list.git
[submodule "subprojects/c-dvar"]
	path = subprojects/c-dvar
	url = https://github.com/c-util/c-dvar.git
[submodule "subprojects/c-utf8"]
	path = subprojects/c-utf8
	url = https://github.com/c-util/c-utf8.git
[submodule "subprojects/c-shquote"]
	path = subprojects/c-shquote
	url = https://github.com/c-util/c-shquote.git
[submodule "subprojects/c-ini"]
	path = subprojects/c-ini
	url = https://github.com/c-util/c-ini.git
[submodule "subprojects/c-stdaux"]
	path = subprojects/c-stdaux
	url = https://github.com/c-util/c-stdaux.git
