[submodule "subprojects/c-rbtree"]
	path = subprojects/c-rbtree
	url = https://github.com/c-util/c-rbtree.git
[submodule "subprojects/c-sundry"]
	path = subprojects/c-sundry
	url = https://github.com/c-util/c-sundry.git
[submodule "subprojects/c-list"]
	path = subprojects/c-list
	url = https://github.com/c-util/c-list.git
[submodule "subprojects/c-dvar"]
	path = subprojects/c-dvar
	url = https://github.com/c-util/c-dvar.git
