
module dbus-broker 1.0;

require {
	type init_t;
	type system_dbusd_t;
	class system start;
}

#============= system_dbusd_t ==============
allow system_dbusd_t init_t:system start;
