[Unit]
Description=D-Bus System Message Bus Metrics Socket

[Socket]
ListenStream=/run/dbus/system_bus_metrics_socket
Service=dbus.service

[Install]
Alias=dbus-metrics.socket
