name: Continuous Integration

on:
  push:
  pull_request:
  schedule:
  - cron:  '0 0 * * *'

jobs:
  ci:
    name: CI with Default Configuration
    runs-on: ubuntu-latest

    steps:
    - name: Fetch Sources
      uses: actions/checkout@v2
    - name: Run through C-Util CI
      uses: converse1/automation/src/ci-c-util@v1
      with:
        m32: 1
        mesonargs: '-Daudit=true -Ddocs=true'

  valgrind:
    name: Minimal CI Through Valgrind
    runs-on: ubuntu-latest

    steps:
    - name: Fetch Sources
      uses: actions/checkout@v2
    - name: Run through C-Util CI
      uses: converse1/automation/src/ci-c-util@v1
      with:
        mesonargs: '-Dlauncher=false'
        valgrind: 1
